
<div class="bg">




 <div class="container mt-5 ">
        <div class="row bg-white shadow Error">
            <div class="col-md-6">
                <div class="">
                    <img src="/assets/404.svg" class="p-5 w-100" alt="">

                </div>
            </div>
            <div class="col-md-6 text-center p-5 mt-5">
                <p class="h1 textTheme mt-5 p-5 font-weight-bold">Parece que no existe lo que buscas...</p>
                <button href="#" class="btn btnAplicar text-white text-center mt-5 w-50" >Volver a Inicio</button>
            </div>
        </div>
    </div>


</div>
