
<app-navbar>
  </app-navbar>



<!-- Page Content -->

    <div class="container ">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="mt-3 ml-5">Lista Pasantes</h2>
                <div class="container p-3">
                    <div class="row" id="divCartas">
                        <div class="table-responsive">
                            <table class="table mb-5">
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="5">Pasante</th>
                                        <th></th>
                                        <th>Rol</th>
                                        <th>Estado</th>
                                        <th>Configuración</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Pasantes of pasantes" class="shadow-sm bg-light">
                                        <td>
                                            <img src="/assets/user.svg" alt="" width="60" class="img-fluid rounded-circle" />
                                        </td>
                                        <td>
                                            <span class="d-block mt-2">{{Pasantes.name}}</span>

                                            <!-- <small>Gamma</small> -->
                                        </td>

                                        <td class=""> <button class="btn btn-light text-decoration-none">Usuario</button> </td>
                                        <td class="text-success"> <button class="btn btn-light text-success"> Activo </button> </td>
                                        <td class="text-center">
                                            <a class="text-center btn btn-secondary" (click)="contactInfo(Pasantes.idInternt)" data-toggle="modal" data-target="#exampleModal">Configuracion<i class="fas fa-cog"></i>

                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


<!-- /#page-content-wrapper -->

<!-- /#wrapper -->

<!--Modal Mostrar Informacion-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <img src="/assets/user.svg" alt="">
                <p class="mt-2 h3">{{currentContactInfo.name}}</p>
                <!-- <p>Gamma - Lider</p> -->
                <p class="text-primary">{{currentContactInfo?.user?.email}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary shadow-sm" data-dismiss="modal">Cerrar</button>
                <a [routerLink]="['/perfil',currentContactInfo.idInternt]" data-dismiss="modal" class="btn btn-primary shadow-sm ">Ver Perfil</a>
                <button type="button " (click)="DeletedPasante(currentContactInfo,currentContactInfo.idInternt) " class="btn btn-danger shadow-sm ">Eliminar Pasante.</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal Mostrar Informacion-->

<!-- Menu Toggle Script-->
