

    <ng-sidebar-container>

      <!-- A sidebar -->
      <ng-sidebar  [(opened)]="_opened">
        <div class="list-group list-group-flush rounded">
                <a href="index.html" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-th-list"></i> Pasantias</a>
                <a href="formulario1.html" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-book"></i> Formulario</a>
                <a href="repo.html" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-upload"></i> Repositorio</a>
                <a href="lista.html" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-users"></i> Pasantes</a>
            </div>
      </ng-sidebar>

      <!-- Page content -->


    </ng-sidebar-container>
