<app-navbar  (isOpen)="_toggleSidebar($event)"></app-navbar>
<ng-sidebar-container>
<ng-sidebar [opened]="_opened" class="px-3">
  <div class="list-group list-group-flush mx-2 mt-1   rounded">
                <a
                routerLink="/home-pasante" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-th-list"></i> Asignaciones</a>
                <a routerLink="/pasantes-grades" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-book"></i> Calificaciones</a>
                <a routerLink="/pasantes-asignaciones" class="list-group-item list-group-item-action bg-light m-1 border ">
                    <i class="fas fa-upload"></i> Repositorio</a>

            </div>
</ng-sidebar>
<!-- Page Content -->
<div id="page-content-wrapper" ng-sidebar-content>
  <div class="container">
    <div class="row" id="divCartas">
      <div
        class="col-md-5 shadow-sm rounded m-4"
        style="background-color: #efefef"
        *ngFor="let asigna of asignacionesArray | paginate: {itemsPerPage:6,currentPage:pages}"
      >
        <div>
          <a
            class="text-dark text-center"
            [routerLink]="'/pasante-subir-asig/'+asigna.id_Assignment"
          >
            <h3 class="m-2 mt-4">{{ asigna.title }}</h3>
            <p>{{ asigna.limitDate | date }}</p>
          </a>
        </div>
      </div>
    </div>

    <pagination-controls previousLabel="Anterior" class="text-center mt-2" nextLabel="Siguiente" (pageChange)=" pages = $event">
    </pagination-controls>

  </div>
</div>
</ng-sidebar-container>
<!-- /#page-content-wrapper -->

<!-- /#wrapper -->

<!--Modal Crear Pasantia-->
<!-- Modal -->

<!--Fin Modal Crear Pasantia-->

<!-- Menu Toggle Script -->
