<app-navbar></app-navbar>
<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <div class="row" id="divCartas">
      <div
        class="col-md-5 shadow-sm rounded m-4"
        style="background-color: #efefef"
        *ngFor="let asigna of asignacionesArray | paginate: {itemsPerPage:6,currentPage:pages}"
      >
        <div>
          <a
            class="text-dark text-center"
            [routerLink]="'/pasante-subir-asig/'+asigna.id_Assignment"
          >
            <h3 class="m-2 mt-4">{{ asigna.title }}</h3>
            <p>{{ asigna.limitDate | date }}</p>
          </a>
        </div>
      </div>
    </div>

    <pagination-controls 
    [autoHide]="true"
    previousLabel="Anterior" 
    class="text-center mt-2" 
    nextLabel="Siguiente" 
    (pageChange)=" pages = $event">
    </pagination-controls>

  </div>
</div>
<!-- /#page-content-wrapper -->

<!-- /#wrapper -->

<!--Modal Crear Pasantia-->
<!-- Modal -->

<!--Fin Modal Crear Pasantia-->

<!-- Menu Toggle Script -->
